body{
	font-family: Lucida Sans Unicode, Verdana, 
	Sans Serif;
	font-size: 15px;
}

#grupo{
	width: 960px;
	margin: 0 auto;
	background-color: white;
}

#topo h1{
	font-size: 40px;
}

article{
	background-color: white;
	padding: 50px;
}
article h2{
	color: #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
}

#menu ul li{
	display: inline;
}

a:link{
	text-decoration: none;
	color: black;
	background-color: #696969;
}
#menu ul a:hover{
	font-size: 18px;
}
